.vs/
*.log

Installer/
packages/
SetupInstaller/

MultiCam.App/bin/
MultiCam.App/obj/

MultiCam.Domain/bin/
MultiCam.Domain/obj/

MultiCam.UnitTests/bin/
MultiCam.UnitTests/obj/

DShowNET/bin/
DShowNET/obj/

DirectX.Capture/bin/
DirectX.Capture/obj/
