.vs/
*.log

Installer/
packages/
SetupInstaller/

CapturaVideo/obj/
CapturaVideo/bin/

DShowNET/bin/
DShowNET/obj/

DirectX.Capture/bin/
DirectX.Capture/obj/

MultiCam.UnitTests/bin/
MultiCam.UnitTests/obj/
